*{
    box-sizing: border-box;
}

html{
    min-height: 5000px;
    background-color: #EEE;
}

.scroller{
    height: 5px;
    background-color: #0075FF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}